/*  your css code here. If applicable */
*{
    margin: 0px;
    padding: 0px;
}
body{
	background-color: black;
    height: 1080px;
}
.hero{
    display: flex;
	height: 355px;
	background-color: white;
	margin-top: 150px;
}
img{
    width: 1031px;
    aspect-ratio: auto 1031 / 356;
    height: 356px;
    cursor: zoom-in;
    margin: auto;
    -webkit-user-select: none;
    background-color: 300ms;
}
.text{
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    font-size: 40px;
    margin-top: 80px;
    font-weight: bold;
}
.lec{
    display: list-item;
    padding: 50px;
}
.par{
    color: rgb(78, 82, 85);
    font-size: 20px;
    font-weight: bold;
}
button{
    background-color: red;
    border: 0px ;
    padding:10px;
}
.button{
    justify-content: center;
    align-items: center;
    margin-left: 155px;
}

	 
